div.app {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  row-gap: 2vh;

  height: 100%;
  width: 100%;

  justify-items: center;
  align-items: center;

  background-color: white;
}

hr {
  border: 1px solid #d3d3d3;
  width: 80%;
}
