div.app {
  box-sizing: border-box;

  display: grid;
  grid-template: 8fr 1fr 8fr 1fr 15fr / 1fr;

  height: 100%;
  width: 100%;

  justify-items: center;
  align-items: center;

  background-color: white;

  border: 3px solid lightsteelblue;
  border-radius: 8px;
}

hr {
  border: 1px solid #d3d3d3;
  width: 80%;
}
